POSTGRES_DB=mobile_banking
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

BACKEND_PORT=8080
FRONTEND_PORT=8081

FRONTEND_URL=http://localhost:8081
EXPO_PUBLIC_API_URL=http://localhost:8080/api

JWT_SECRET=change-this-secret-key